h1 {
    font:  oblique bold 180% cursive;
}

.main p {
    font:  oblique bold 100% cursive;     
}

.lista li {
    font:  oblique bold 100% cursive;    
}

h2 {
    font:  oblique bold 150% cursive;
}

h3 {
    font:  oblique bold 120% cursive;
}

.conocenos > ol {
    font:  oblique bold 100% cursive;
}

#imgICU{
    width:90%;
    display: block; 
    margin: auto;
}

#cajaLogo{
  margin: auto;
    align-content: center;
}

#imgCampania{
    width: 100%;
    height: 100%;
}

#subtitulo{
   margin:auto;
   display:block;
}