.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.mapa{
    height: 598px;
    width: 67%;
}

.mapa > fieldset{
    height: 97%;     
}

.mapa > fieldset > iframe{
    height: 97%;    
}

h4{
    font-family: "/fonts/Arvo-Bold.ttf";  
}

