.row{
  position: relative;
}

.padding-0{
padding-right:0;
padding-left:0;
}

.encabezado{
  display: grid; 
  grid-template-rows: 90%;
  grid-template-columns: 100%;
}

.menu_opciones{
  align-items: end;
}

#logo {
  alt:"ICU";
   width:15%;
  /*height:90%;  */
  display: block;
  margin:auto;  
}
/* Area Opciones ------------------------------ */

/*----------------------------------------------  */



footer {
  /* background-color: #222222; */
  padding: 1%;
  /* font-family: Open Sans,sans-serif ; */
  font-size: small;
  /* color: #999999;   */
  }

.redessociales > img {
  width:5%;
  height:5%;
}

a:hover .caption{
  visibility: visible;
  filter: brightness(0);
} 

.thumbnail { 
  position: relative; 
 } 
 .caption{ 
  position: absolute; 
  top: 45%; 
  visibility: hidden;  
  width: 100%;
 }
/* a:hover .img1{
    opacity:40%
 } */
h3{
  text-decoration-line: underline;
}


/* Media Queries */

@media screen and (max-width: 630px){

  #logo {
    alt:"ICU";
    width:50%;
    height:100%; 
    display: block;
    margin:auto;  
  }
/* 
  .opciones > div {   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
  } */
  
  .opciones > div{
    width: 80%;
    height: 40%;
  }

  nav{
    display: none;
  }

  footer{
      display: none;
  }

}
