.row{
  position: relative;
}

body {
  overflow-x: hidden;
}

#menu{
 scroll-behavior: smooth;
}

#logo {
  alt:"ICU";
  width:10%;
  display: block;
  margin:auto;  
}

footer {
  /* background-color: #222222; */
  padding: 1%;
  /* font-family: Open Sans,sans-serif ; */
  font-size: small;
  /* color: #999999;   */
  }

.redessociales > img {
  width:5%;
  height:5%;
}

a:hover .caption{
  visibility: visible;
  filter: brightness(0);
} 

.thumbnail { 
  position: relative; 
 } 

 .caption{ 
  position: absolute; 
  top: 45%; 
  visibility: hidden;  
  width: 100%;
 }

h3{
  text-decoration-line: underline;
}


/* Media Queries */

@media screen and (max-width: 630px){

  #logo {
    alt:"ICU";
    width:40%;
    display: block;
    margin:auto;  
  }    
 
}
