@import "variables";

.encabezado{
    div {
        a{
            align-items: center; 
        }
    }
}

a:hover {
    .img1{
        opacity: 40%
    }
}

footer{
    background-color: $footerBg ;
    color: $footerColor;
    font-family: $footerFont;
}


@each $number in $numbers{
    ##{$number}{  
         height: $sizeOp*2;  
        object-fit: cover;
        object-position: center center;
    }
}