.encabezado{
  display: grid; 
  grid-template-rows: 90%;
  grid-template-columns: 100%;
}
.encabezado > div > a{ 
  align-items: center;
}

header{
  height: 180px;
}

.menu_opciones{
  align-items: end;
}

#logo {
  alt:"ICU";
  width:15%;
  height:60%; 
  display: block;
  margin:auto;  
}
/* Area Opciones ------------------------------ */

.opciones {   
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    align-content: stretch;
}

.opciones > div { 
  background: #F1F1F1;     
  font-size: 30px;
  text-align: center;
  width: 25%; 
  
}

.opciones > div > a > img{
  width: 100%;
  height: 100%;
}

.opciones > div{
  display: inline-block;
}

div#info {
  width: 270px;
  height: 150px;
  position: absolute;
  background-color:rgba( 31 ,31 ,31 ,0.9);
  -webkit-transition: opacity 0.2s;
  
  margin-left: -50%;
}

.opciones > div > a > img:hover{
  opacity: 50%;
}

span{
  text-align: center;
  position: absolute;
  }


/*----------------------------------------------  */

ul{
    list-style:none;
  }

.nav{
  
}

.nav > li {
  float:left;
}

.nav > li > a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:5px 6px;
  display:block;
  font-family: Open Sans,sans-serif ;  
} 

.nav li a:hover {
  background-color:#434343;
}   

header{    
    background: url(image/fondo3.png);
  }

.menu > li {
  display: inline-block;
}

.nav{
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}



footer {
  background-color: #222222;
  padding: 1%;
  font-family: Open Sans,sans-serif ;
  font-size: large;
  color: #999999;  
  }

.footerPage{
  display: flex;
  flex-wrap: wrap;   
  justify-content: stretch;  
  align-items: center;
  
}

.footerPage > div{
  display: inline-block;
  text-align: center;   
}

.redessociales > img {
  width:5%;
  height:5%;
}

/* Media Queries */

@media screen and (max-width: 768px){
  body{
    background: dodgerblue;
  }
}
